html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%; 
  width: 100%;	
  font-family: "Lato", sans-serif;
  color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

 

.header {
	position: relative;
  margin: 0px;
	background-color: rgb(175, 187, 165);
	padding: 25px 0px;
	text-align: center;
}
.location-search {
	text-align: center;
}

input::-webkit-input-placeholder {
   color: rgba(0,0,0,.2);
}

#login-modal {
	display: block;
	position:absolute;
  margin-top: 7px;
  padding: 20px;
	text-align: center;
	background-color: silver;
	border: 1px solid white;
  border-radius: 10px;
	z-index: 9;
}	

.login-input {
}

.login-btn {
}

.map-overlay {
  width: 100%;
  height : 100%;
  position: absolute;
  top: 0px; 
  left: 0px;
  background-color: rgba(0, 0, 0, .35);
  
}

#map {
  height: 100%;
  width: 100%;  
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0px;

}

input{
  color: #3d3d3d;
}

.wrapper {
  position: relative;
  height: 100%;
  text-align: center;

}

#app-title {
  display: inline-block;
  color: white;
}
#weather {
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
z-index: 1;
min-width: 70%;
min-height:70%;
padding: 20px;
text-align: center; 
background: rgba(0,0,0,.65);
border-radius: 15px;
border: 5px solid rgba(0,0,0,.1);
box-shadow: 0 0 1.5em 1.7em rgba(10,10,10,.2);

}
.weather-current {
  font-size: 10em;
}



#datepicker {
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
}

#ui-datepicker-div{
  margin-top: 7px;
}

