body {
	background: #ffed9f;
}

.container {
	padding: 0px !important;
}

nav.navbar.navbar-default{
	position: absolute;
	width: 100%;
	background-color: rgba(0, 0, 0, .6);
	border: none;
	border-radius: 0px;
	margin-bottom: 0px !important;
	z-index: 99;
}

.navbar-collapse{
	color: #FFFFFF !important;
}