body {
	background: #ffed9f;
}

.container {
	padding: 0px !important;
}

nav.navbar.navbar-default{
	position: absolute;
	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-bottom: 0px !important;
	z-index: 99;
}